* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
}


.asteroid {
  width: 46px;
  height: 46px;
  background: orange;
  float: left;
  background-image: url("images/asteroid.png");
}

.timer {
  text-align: center;
  font-size: 2em;
}

#playground {
  position: relative;
  border: thin solid black;
  width: 100vw;
  height: 100vh;
}

.bb {
  border: thin solid green;
}

.bb:after{
  content: "";
  display: table;
  clear: both;
}

.tank {
  position: absolute;
}

.missile {
  position: absolute;
}
