.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 100px;

  grid-template-areas:
        "header header nav aside ."
        "main main . aside ."
        "footer footer footer footer footer";
}

body > header {
  grid-area: header;
  background-color: #8ca0ff;
}

body > nav {
  grid-area: nav;
  background-color: #ffa08c;
}

body > main {
  grid-area: main;
  background-color: #ffff64;
}

body > footer {
  grid-area: footer;
  background-color: #8cffa0;
}

body > aside {
  grid-area: aside;
  background-color: #dadada;
}
