#page {
  display: grid;
  width: 100%;

  grid-template-areas: "header nav nav"
                       "header main main"
                       "header footer footer";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 100px 100px;
}

#page > header {
  grid-area: header;
  background-color: #8ca0ff;
}


#page > nav {
  grid-area: nav;
  background-color: #ffa08c;
}

#page > main {
  grid-area: main;
  background-color: #ffff64;
}

#page > footer {
  grid-area: footer;
  background-color: #8cffa0;
}
