<style> .wrap { display: grid; grid-template-columns: repeat(2, 1fr); } </style>
<div class="wrap">
  <div class="column">
    <h2>HTML+CSS</h2>
    <a href="html+css/000-skeleton/index.html">
    000-skeleton
     </a><br/>
    <a href="html+css/001-examples/index.html">
    001-examples
     </a><br/>
    <a href="html+css/002-divs/index.html">
    002-divs
     </a><br/>
    <a href="html+css/003-layouts/index.html">
    003-layouts
     </a><br/>
    <a href="html+css/004-spiral-layout/index.html">
    004-spiral-layout
     </a><br/>
    <a href="html+css/005-webelements/index.html">
    005-webelements
     </a><br/>
    <a href="html+css/006-mr-ms-potato/index.html">
    006-mr-ms-potato
     </a><br/>
    <a href="html+css/007-positioning/index.html">
    007-positioning
     </a><br/>
    <a href="html+css/008-simple-menu/index.html">
    008-simple-menu
     </a><br/>
    <a href="html+css/009-vertical-menu/index.html">
    009-vertical-menu
     </a><br/>
    <a href="html+css/010-animations/index.html">
    010-animations
    </a><br/>
    <a href="html+css/011-design/index.html">
    011-design
    </a><br/>
    <a href="html+css/012-ball-animation/index.html">
    012-ball-animation
    </a><br/>
    <a href="html+css/013-game-boy/index.html">
    013-game-boy
    </a><br/>
    <a href="html+css/014-supermario-animation/index.html">
    014-supermario-animation
    </a><br/>
    <a href="html+css/015-responsive-example/index.html">
    015-responsive-example
    </a><br/>
    <a href="html+css/016-emoji-template/index.html">
    016-emoji-template
    </a><br/>

  </div>
  <div class="column">
    <h2>JQUERY</h2>
    <a href="jquery/000-jquery-skeleton/index.html">
    000-jquery-skeleton
    </a><br/>
    <a href="jquery/001-click-fight/index.html">
    001-click-fight
    </a><br/>
    <a href="jquery/002-jquery-examples/index.html">
    002-jquery-examples
    </a><br/>
    <a href="jquery/003-paint/index.html">
    003-paint
    </a><br/>
    <a href="jquery/004-tic-tac-toe/index.html">
    004-tic-tac-toe
    </a><br/>
    <a href="jquery/005-sample-page/index.html">
    005-sample-page
    </a><br/>
    <a href="jquery/006-simple-game/index.html">
    006-simple-game
    </a><br/>
    <a href="jquery/007-board-game/index.html">
    007-board-game
    </a><br/>
    <a href="jquery/008-game-matrix/index.html">
    008-game-matrix
    </a><br/>
    <a href="jquery/009-game-events-examples/index.html">
    009-game-events-examples
    </a><br/>
    <a href="jquery/010-sample-game/index.html">
    010-sample-game
    </a><br/>
    <a href="jquery/011-cards/index.html">
    011-cards
    </a><br/>
    <a href="jquery/012-input-checkbox/index.html">
    012-input-checkbox
    </a><br/>
    <a href="jquery/013-great-layout/index.html">
    013-great-layout
    </a><br/>
  </div>
</div>
