* { box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row {
  border: thin solid black;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  body {
    background-color: gray;
  }

  .row {
    background-color: white;
  }
}
