* {
  box-sizing: border-box;
  margin: 0;

}


#ball {

  background-color: orange;
  border: thin solid darkorange;
  height: 10em;
  width: 10em;
  left: 0;
  top: 0;
  border-radius: 5em;
  background-color: red;
  animation-name: left2right;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
}


/* Standard syntax */
@keyframes left2right {
  0% {background-color:red; left:0; top:0;}
  100% {background-color:yellow; transform: translateX(calc(100vw - 10em))}
}
