.box {
  border: thin solid;
  text-align: center;
  border-radius: 0.6em;
  margin-bottom: 1em;
}

.header-box {
  border-bottom: thin solid;
  padding: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-weight: bold;
}

.body-box {
  padding: 0.5em;
}

.body-box-image {
  font-size: 3em;
}

.orange-box {
  color: orange;
}

.orange-box > .header-box {
  background-color: rgb(255, 196, 94);
}

.blue-box {
  color: blue;
}

.blue-box > .header-box {
  background-color: #aaebf2;
}

.red-box {
  color: red;
}

.red-box > .header-box {
  background-color: #f2aaaa;
}
