* {
  box-sizing: border-box;
  border: thin solid black;
  font-size: 1.5em;

}

.container {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
}

#one {
  grid-column: 1 / 6;
  grid-row: 1;
 }

#two {
  grid-column: 5;
  grid-row: 2 / 6;
}

#three {
  grid-column: 1 / 5;
  grid-row: 5;
}

#four {
  grid-column: 1;
  grid-row: 2 / 5;
}

#five {
  grid-column: 2 / 5;
  grid-row: 2;
}

#six {
  grid-column: 4;
  grid-row: 3 / 5;
}

#seven {
  grid-column: 2 / 4;
  grid-row: 4;
}

#eight {
  grid-column: 2;
  grid-row: 3;
}

#nine {
  grid-column: 3;
  grid-row: 3;
}
