* { box-sizing: border-box; }

#tablero {
  background-color: darkgreen;
  margin: 0 auto;
}

#tablero::after {
  display: table;
  clear: both;
  content: "";
}

.carta {
  float: left;
  border: thin solid gray;
  width: 5em;
  height: 8em;
  background-color: white;
  padding: 1em;
}

.picas { color: black; }
.picas::after {
  content: "♠";
}

.rombos { color: red; }
.rombos::after {
  content: "♦";

}

.corazones { color: red; }
.corazones::after {
  content: "♥";
}

.treboles { color: black; }
.treboles::after {
  content: "♣";
}
