* { box-sizing: border-box; }

#scenario {
  width: 100%;
  height: 800px;
  background: gray;
  border: thin solid black;
  position: relative;
}

#player {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;

  
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: fire 0.5s steps(100) infinite;
}

@keyframes fire {
  0% { margin-left: 25px; }
  100% {
    margin-left: 150px;
  }
}
