* { box-sizing: border-box; }

 #my-canvas {
   display: grid;
   grid-template-columns: repeat(100, 1fr);
   grid-auto-rows: minmax(5px, auto);
   border: thin solid black;
 }

 /* .cell {border: thin solid black;} */
