* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#outter {
  border: medium solid blue;
}

#inner {
  border: medium solid red;
  float: left;
}

/* CLEARFIX */
#outter:after {
  content: "";
  display: table;
  clear: both;
}

.elemento {
  border: medium solid green;
  width: 50%;
  float: left;
}
