* { box-sizing: border-box; }

.item {
  position: relative;
  float: left;
  border: thin solid blue;
}

#menu {
  border: thin solid black;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem { border: thin solid red; }

.submenu { display: none;}

.item:hover > .submenu {
  position: absolute;
  display: block;
  width: auto;

}
