* {
  box-sizing: border-box;
}

#game-boy {
  background-color: #bfbeba;
  width: 400px;
  height: 655px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0.2em solid darkgray;
  border-radius: 1em;
  border-bottom-right-radius: 4em;
}

#frame {
 background-color: #575763;
 width: 330px;
 height: 250px;
 position: relative;
 margin: 0 auto;
 padding: 30px;
 margin-top: 50px;
 border: 0.2em solid darkgray;
 border-radius: 1em;
 border-bottom-right-radius: 4em;
}

#screen {
  position: relative;
  width: 205px;
  height: 190px;
  background-color: #516116;
  border: 0.2em solid black;
  margin: 0 auto;
}

#pad {
  position: relative;
  width: 100px;
  height: 100px;
  left: 33px;
  top: 85px;
}

#up-down {
  width: 33px;
  height: 100px;
  background-color: #000000;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.3em;
}

#right-left {
  width: 100px;
  height: 33px;
  background-color: #000000;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.3em;
}

#buttons {
  position: relative;
  width: 110px;
  left: 222px;
}

#button-a {
  position: absolute;
  left: 0;
  background-color: #a02059;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  top: 30px;
}

#button-b {
  position: absolute;
  right: 0;

  background-color: #a02059;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
