* {
  box-sizing: border-box;
/*  border: thin solid black; */
}

/* Declaring custom properties */
:root {
  --default-padding: 0.5em;
  --default-margin: 0.5em;
  --default-border-radius: 0.5em;
  --default-first-color:  #008ff8;
  --default-second-color:  #0060a6;
  --default-background-color:  #ffffff;
  --default-text-first-color:  #ffffff;
  --default-text-second-color:  #000000;
}

body { margin: 0; }

#page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;

  /* El mínimo que ocupará una fila del grid */
  grid-auto-rows: minmax(50px, auto);
  grid-row-gap: 0;
}

#topbar {
  grid-column: 1 / 6;
  grid-row: 1;

  background-color: var(--default-first-color);

 }

 #menu {
   padding: var(--default-padding);

 }

 .menu-item {
   float: left;
   color: #ffffff;
   padding: var(--default-padding);
   cursor: pointer;
 }

 .menu-item:hover {
   background-color: var(--default-second-color);
   border-radius: var(--default-border-radius);
 }

 #logo {
  float: left;
  padding: var(--default-padding);
  margin: var(--default-margin);
  color: #ffffff;
  font-weight: bold;
 }


#slider {
 grid-column: 1 / 6;
 grid-row: 2;

 margin-bottom: -4px;
 position: relative;
}

#slider > img {
    width: 100%;
}

/* CLEARFIX */
#slider:after {
  content: "";
  display: table;
  clear: both;
}

#arrows {
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    height: 33px;
    width: 100%;
    font-weight: bold;
}

#arrows > .previous {
  background-color: var(--default-first-color);
  color: var(--default-text-first-color);
  padding: var(--default-padding);
  float: left;
  position: relative;
}

#arrows > .next {
  background-color: var(--default-first-color);
  color: var(--default-text-first-color);
  padding: var(--default-padding);
  float: right;
  position: relative;

}


#cards-container {
  grid-column: 1 / 6;
  grid-row: 3;
  display: grid;
  background-color: #f4f4f4;
  padding: calc(2.5*var(--default-padding));
}

#cards {
  display: grid;
  /* En este caso conseguimos que las columnas se redistribuyan, como mínimo
  debe ocupar 200px */
  /* grid-template-columns: repeat(auto-fill, minmax(30em, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  margin: 0 auto;
  width: 90%;
}

.card {
  text-align: center;
  padding: var(--default-padding);
  margin: var(--default-margin);
  background-color: var(--default-background-color);
  margin-bottom: calc(2.5*var(--default-margin));
  border-radius: var(--default-border-radius);
}

.card > a {
  background-color: var(--default-first-color);
  color: var(--default-text-first-color);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  border: none;
  text-decoration: none;
  position: relative;
  bottom: calc(-2.5*var(--default-padding));
}

.card > h2 {
  font-weight: lighter;
}

.card-img {
    font-size: 3em;
    color:  var(--default-first-color);
}


#bottom {
  grid-column: 1 / 6;
  grid-row: 4;
  padding: 0;
  margin: 0;
  background-color: var(--default-first-color);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#bottom-left {
  padding: var(--default-padding);
  margin: var(--default-margin);
}

#bottom-left > h2 {
  color: var(--default-text-first-color);
}

#bottom-left > p {
  color: var(--default-text-first-color);
}

.bottom-right-column {
  float: left;
  padding: var(--default-padding);
  margin: var(--default-margin);
}

.bottom-right-column > ul {
  color: var(--default-text-first-color);
}

#footer {
  grid-column: 1 / 6;
  grid-row: 5;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: var(--default-second-color);
  padding: var(--default-padding);
  color: var(--default-text-first-color);
  font-weight: bold;
}

#footer-left {
    float: left;
    padding: var(--default-padding);
}

#footer-right {
    padding: var(--default-padding);
}

#footer-right > i {
  float: right;
  padding-left: var(--default-padding);
}
