/* Declaring custom properties */
:root {
  --potato-height: 400px;
  --potato-width: 400px;
}

* {
  box-sizing: border-box;
  z-index: 2;
}

#playground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;
  background-color: white;
  border: thin solid gray;
}

.potato {
  /* centramos verticalmente la patata */
  position: relative;
  top: 7em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* fin centrar verticalmente la patata */
  border: thin solid green;
  height: var(--potato-height);
  width: var(--potato-width);

  margin-bottom: 6em;

}

.head {
  height: var(--potato-height);
  width: var(--potato-width);

  background-color: brown;
  margin: 0 auto;
  position: relative;

  border-top-left-radius: 10em;
  border-top-right-radius: 10em;

  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 5em;

}

.eyes {
  /* centramos verticalmente los ojos */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente los ojos */

  top: 5em;
  border: medium solid green;

}

.eye {
  position: relative;
  height: calc(var(--potato-height) / 3);
  width: calc(var(--potato-width) / 3);
  border-radius: 5em;
  background-color: white;
  border: thin solid black;
}

.pupil {
  height: calc(var(--potato-height) / 5);
  width: calc(var(--potato-width) / 5);
  border-radius: 5em;
  border: thin solid black;
  background-color: blue;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}

.left-eye {
  left: 2em;
  float: left;
}

.right-eye {
  right: 2em;
  float: right;
}

.hat {
  background-color: black;
  height: calc(var(--potato-height)/4);
  width: calc(var(--potato-width));
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  top: -3em;
  position: relative;
}

.top-hat {
  background-color: black;
  height: calc(var(--potato-height)/4);
  width: calc(var(--potato-width)/2);
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  top: -3em;
  margin: 0 auto;

  position: relative;
}


.ears {
  /* centramos verticalmente las orejas */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente las orejas */
  top: 5em;
  z-index: 1;
}

.ear {
  position: relative;
  height: calc(var(--potato-height) / 3);
  width: calc(var(--potato-width) / 3);
  border-radius: 3em;
  background-color: pink;
  border: thin solid gray;
}

.left-ear {
  left: -4em;
  float: left;
}

.right-ear {
  right: -4em;
  float: right;
}

.nose {
    /* centramos verticalmente la nariz */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* fin centrar verticalmente la nariz */

    background-color: orange;
    height: calc(var(--potato-height) / 3);
    width: calc(var(--potato-width) / 4);

    border-radius: 3em;
}

.moustache {
  /* centramos verticalmente la nariz */
  position: absolute;
  left: 0;
  right: 0;
  top: 6em;
  bottom: 0;
  margin: auto;
  /* fin centrar verticalmente la nariz */

  background-color: black;
  height: calc(var(--potato-height) / 6);
  width: calc(var(--potato-width) / 2);

  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}

.mouth {
  /* centramos verticalmente la nariz */
  position: absolute;
  left: 0;
  right: 0;
  top: 8em;
  bottom: 0;
  margin: auto;
  /* fin centrar verticalmente la nariz */

  background-color: red;
  height: calc(var(--potato-height) / 5);
  width: calc(var(--potato-width) / 3);

  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.shoes {
  /* centramos verticalmente los zapatos */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente los zapatos */
  border: thin solid yellow;
  bottom: -3em;
  z-index: 1;
}

.shoe {
  background-color: cadetblue;
  height: calc(var(--potato-height) / 5);
  width: calc(var(--potato-width) / 3);
  border: thin solid black;

}

.right-shoe {
  float: right;
  border-top-right-radius: 2em;
}

.left-shoe {
  float: left;
  border-top-left-radius: 2em;
}
