* { box-sizing: border-box; }


body {
  margin: 0;
  padding: 0;
}

.example {
  border: thin solid #dadada;
  padding: 1em;
}


.container {
  min-height: 50px;
}

/* Example Trick: Checkmark visited links
Mark your visited links with checkmarks: */
#main-content a:visited:before {
  content:  "\2713 ";
}

.labeled  {
  position: relative;
  margin-top: 3em;
  border: thin solid gray;
  border-radius: 0.25em;
  background-color: lightgray;
}

.labeled:after {
  content: "";
  display: table;
  clear: both;
}

.labeled span {
  position: absolute;
  top: -2.333333em;
  left: 0;
  padding: 0.5em;
  border: thin solid gray;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  background-color: lightgray;
}

.bubble {
  float: left;
  background-color: red;
  min-width: 50px;
  min-height: 50px;
  border: thin solid black;
  text-align: center;
  padding: 0.5em;
}

#e2 .playzone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.draggable { cursor: pointer; user-select: none; }
.droppable { cursor: crosshair; user-select: none; }

#e2 .rubish { background-color: red; padding: 1em; }
#e2 .bin { background-color: blue; padding: 1em; }
#e2 .paper { border: thin solid gray; background-color: lightgray; border-radius: 0.25em; padding: 0.5em; }
#e2 .trash { border: thin solid gray; background-color: lightgray; border-radius: 0.25em; padding: 0.5em; }

#e5 { position: relative; }
#e5 .result { padding: 0.5em; border: thin solid lightgray; }
#e5 strong { color: gray; }
