* { box-sizing: border-box; }

#time {
text-align: center;
border: thin solid black;
border-radius: 0.5em;
padding: 1em;
margin: 0;
}

.large { padding: 0; margin: 0; font-size: 10em;}
.dark { font-size: 2.5em; }
