* { box-sizing: border-box; }

.runner {
  width: 210px; /* El sprite está formado por 24 frames de 210px x24 = 5040px */
  height: 320px;
  background: url("images/runner.png");
  animation: run 1s steps(24) infinite, move 10s steps(1000) infinite; /* El número de steps es igual al número de frames */
}

.bolilla {
  /* width: 618px, height: 618px, frames: 23, */
  width: 618px;
  height: 618px;
  background:  url("images/bolilla.png");
  animation: jump 1s steps(23) infinite;
}

.calavera {
  /* width: 82px, height: 80px, frames: 7, */
  width: 82px;
  height: 80px;
  background:  url("images/calavera.png");
  animation: magic 1s steps(7) infinite;
}

@keyframes run {
  100% {
    background-position: -5040px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}

@keyframes move {
  100% {
    margin-left: 100%;
    opacity: 0;
  }
}

@keyframes jump {
  100% {
    background-position: -14214px;
  }
}

@keyframes magic {
  100% {
    background-position: -574px;
  }
}
