* { box-sizing: border-box; }

#scenario {
  width: 100%;
  height: 800px;
  overflow-x: hidden;
  background: gray;
  border: thin solid black;
  scroll-behavior: smooth;

  position: relative;
}

#player {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
