* { box-sizing: border-box; }

body {
  border: medium solid green;
  margin: 0;
  padding: 1em;
  background-image: linear-gradient(red, yellow);
}

p { color: red; }

#p-red {
  color: red;
  text-align: right;
}

#p-blue {
  color: blue;
  background-color: black;
  padding: 1em;
}

.oranje {
  color: orange;
  text-align: center;
  border: thin solid black;
}
.yellow {
  color: yellow;
  font-size: 1.5em;
  font-weight: bold;
}

.little {
  width: 50px;
  border-radius: 1em; /* Para tener border redondeados */
}

.medium {
  width: 100px;
  border: 2em solid orange;
  padding: 1em;
}

.large {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Para que la forma sea un círculo (deben tener misma altura y anchura) */
}
