<ul>
	<li><a href="index.html">Home</a></li>
	<li><a href="section.html">Section</a></li>
	<li><a href="another-section.html">Another section</a></li>
	<li><a href="another-section.html">Another section</a></li>
</ul>
