* { box-sizing: border-box; }

#page {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#header {
	background-color: red;
	grid-row: 1;
	grid-column: 1 / 5;
}

#navbar {
	background-color: yellow;
	grid-column: 1 / 5;
	grid-row: 2;
}

#left-menu {
	background-color: green;
	grid-column: 1 / 2;
	grid-row: 3;
}

#right-menu {
	background-color: blue;
	grid-column: 4 / 5;
	grid-row: 3;
}

#content {
  background-color: lightgray;
	grid-column: 2 / 4;
	grid-row: 3;
}

#footer {
	background-color: purple;
	grid-column: 1 / 5;
	grid-row: 4;
}

img { max-width: 100%; }
