* { box-sizing: border-box; }

#cabeza {
  position: relative;
  border-radius: 2em;
  border: thin solid black;
  height: 200px;
  width: 300px;
}

#ojos {
  /* Para centrar los ojos horizontalmente */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: thin solid red;
  height: 50px;
  width: 150px;
  top: 30px;
}
.ojo {
  position: relative;
  border: thin solid blue;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.ojo-izq { float: left; }
.ojo-der { float: right; }
