* { box-sizing: border-box; }

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#titulo {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: red;
  text-align: center;
 }

#acaseclicka {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: green;
}

#plataforma {
  width: 30em;
  height: 30em;
  border: 2em solid black;
  cursor: pointer;
}

#mark {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 2;
  background-color: purple;
}

#number {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 6em;
  text-align: center;
  padding: 0 0;
  border-radius: 50%;
  background-color: white;
  width: 10px;
  height: 10px;
}
